*{
    margin : 0;
    padding: 0;
}

footer{
    background: #343a40;
}

footer a{
    margin-left: 5px;
    margin-right: 5px;
}

a{
    text-decoration: none;
    color:black;
}

/* For webkit (Chromium)*/
body::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

/* For Firefox */
html {
    scrollbar-width: none;
}