body{
  background-color: #000000;
}

img{
  border: #00e1ff dashed;
  max-width: 80%;
  max-height: 90%;
  border-radius: 5rem;
  transition: border 0.2s;
  transition: border-radius 0.2s;
}

img:hover{
  scale: 1.02;
  border: #f1f solid;
  border-radius: 4rem;
}

section {
  color: #ffffff;
}

a{
  color: #00e1ff;
  transition: color 0.2s;
}

a:hover{
  color: #f1f;
}

.separator {
  width: 75%; /* Adjust width as needed */
  height: 2px; /* Thickness of the line */
  border: 1px #ffffff solid;
  border-radius: 1rem;
  background-color: #ffffff; /* Color of the line */
  margin: 20px auto; /* Centering the separator */
}